html{
    background-color: black;
    color:white;
}
.quiz-form {
    background-color: #ff003c78;
    color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    margin:5% 2%;
    text-align: left;
}

.question {
    background-color: #d60027;
    color: #ecf0f1;
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
}

.quiz-form>label {
    display: block;
    margin: 5px 0;
}
.quiz-form>input,select {
    width: 100%;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    background-color: #ecf0f1;
    color: #2c3e50;
}

button {
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
a{
    color:white;
}