.box,.box_selected{
    width:18%;
    color: white;
    border-radius: 2em;
    margin-top:5%;
    margin-left:5%;
    margin-bottom:2%;
    height:30vh;
    padding:2%;
}
.box{
    background-color: rgb(78, 78, 78);
}
.box_selected,.box:hover{
    background-color: rgb(0, 181, 21);
}
@media(max-width:1200px){
    .box, .box_selected{
        height:50vh;
    }
}
@media(max-width:1000px){
    .box, .box_selected{
        width: 80%;
        height:20vh;
    }
}
@media(max-width:400px){
    .box, .box_selected{
        height:40vh;
    }
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: 2% 5%;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #3399FF;
    color: white;
  }
.user-info, .password-change {
    margin-top: 20px;
    padding: 20px;
    background-color: #ff9900e8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0d00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.password-change>button{
    padding: 10px 20px;
}
.leadership{
    width:100%;
    background-color: #00ffff64;
  }
.leader{
    height: fit-content;
    width:90%;
    margin: 5% 5%;
    color:rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 5px #3f3f3f;
  }
  .leader-image{
    margin-top:2%;
    width:40%;
    background-size: contain;
    float:left;
  }
  img{
    width:100%;
    height:50vh;
  }
  .leader-note{
    font-size:20px;
    font-weight: 600;
    margin-top:2%;
    margin-left:1%;
    width:50%;
    height:100%;
    float:right;
  }
  .leader-note>p{
    text-align: left;
  }
  @media(max-width:768px){
    .leader-image{
      width:100%;
      height:100%;
      float:top;
    }
    .leader-note{
      margin-left:1%;
      width:100%;
      height:100%;
      float:bottom;
    }
  }
  